<!DOCTYPE HTML>
<html>
<body>
{% load url from future %}

{% block content %}

{% if checklist %}
	<h1>{{checklist.title}}</h1>
	<ul>
	{% for item in checklist.item_set.all %}
		<li>{{item.item}}</li>
	{% empty %}
    	<li>No item in this list.</li>
    {% endfor %}
	</ul>


	<h1>{{checklist.title}}</h1>
	{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

	{% for item in checklist.item_set.all %}

		<form action="/checklist/{{checklist.id}}/save/" method="post">
		{% csrf_token %}
			<li>{{item.item}}
			<input type="radio" name="choice" value="U" {% if item.itemStatus == "U" %}checked="true"{% endif %}/>Unanswered
			<input type="radio" name="choice" value="Y" {% if item.itemStatus == "Y" %}checked="true"{% endif %}/>Yes
			<input type="radio" name="choice" value="N" {% if item.itemStatus == "N" %}checked="true"{% endif %}/>NA
			<input type="hidden" name="item" value="{{ item.id }}"/>
			<input type="submit" value="Save" />
			</li>
		</form>
	{% empty %}
    	<li>No item in this list.</li>
	{% endfor %}
	
{% else %}
    <p>Can't find checklist.</p>
{% endif %}


{% endblock %}
</body>
</html>

