<!DOCTYPE html>
<html>
<head>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>
<body>
{% load url from future %}

{% block content %}

<a href="/checklist/home/">Home page</a><br>

{% if checklist %}

	{% if error_message %}<p><span style="color:red;font-weight:bold">{{ error_message }}</span></p>{% endif %}
	
	<h1><span style="color:green;font-weight:bold">Checklist Detail Table</span></h1>
	<table border="1">
		<tr>
			<th>Field</th><th>Detail</th>
			<td rowspan="11">
				<div id="map-canvas" style="height:600px;width:800px;"></div>
				<div id="weather"></div>
			</td>
		</tr>
		<tr><td>File number</td><td>{{ checklist.fileNum }}</td></tr>
		<tr><td>Title</td><td>{{ checklist.title }}</td></tr>		
		<tr><td>Status</td>
		{% if checklist.status == "N" %}<td><span style="color:yellow">New</span></td>{% endif %}
		{% if checklist.status == "I" %}<td><span style="color:blue">Inprogress</span></td>{% endif %}
		{% if checklist.status == "S" %}<td><span style="color:orange">Submited</span></td>{% endif %}
		{% if checklist.status == "A" %}<td><span style="color:green">Approved</span></td>{% endif %}
		{% if checklist.status == "R" %}<td><span style="color:red">Rejected</span></td>{% endif %}
		</tr>
		<tr><td>Assigner</td><td>{{ checklist.assigner.username }}</td></tr>
		<tr><td>Assignee</td><td>{{ checklist.assignee_names }}</td></tr>		
		<tr><td>Description</td><td>{{ checklist.description }}</td></tr>
		<tr><td>Date Created</td><td>{{ checklist.create_date }}</td></tr>				
		<tr><td>Land District</td><td>{{ checklist.landDistrict }}</td></tr>
		<tr><td>Address</td><td>{{ checklist.address }}</td></tr>
		<tr><td>Comment</td><td>{{ checklist.comment }}</td></td></tr>
	</table>
	
    <script>
		var coord = '{{ checklist.address }}';
		var a = coord.split(',');
		if(a.length != 2) {
			a[0] = 0;
			a[1] = 0;
		}
		else {
			a[0] = escape(a[0].trim());
			a[1] = escape(a[1].trim());
		}
		
    	var w = document.getElementById('weather');
    	w.innerHTML = "<iframe src='http://api.openweathermap.org/data/2.5/weather?lat=" + a[0] + "&lon=" + a[1] + "&mode=html' frameBorder='0' width='100%' height='100%'></iframe>";
		
		var mapOptions = {
			zoom: 16,
			center: new google.maps.LatLng(a[0], a[1]),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    </script>
	
	<h1><span style="color:green;font-weight:bold">Item Selection Table</span></h1>

	{% if checklist.status != "S" and checklist.status != "A" %}
		<form action="/checklist/{{checklist.id}}/" method="post">
		{% csrf_token %}
			<input type="submit" value="Refresh"/>
		</form>
	{% endif %}
		
	<form action="/checklist/{{ checklist.id }}/validate/" method="post">
	{% csrf_token %}

	<table border="1">
		<tr><th>Item type</th><th>Item name</th><th>Status</th><th>Comment</th></tr>
		{% for item in checklist.item_set.all %}
		<tr>
			<td>{{ item.itemType }}</td>
			<td>{{ item.item }}</td>
			{% if checklist.status != "S" and checklist.status != "A" %}
				<td>
				<input type="radio" name="{{ item.id }}" value="U" {% if item.itemStatus == "U" %}checked="true"{% endif %}/>
					<span style="color:red">Unanswered</span>
				<input type="radio" name="{{ item.id }}" value="Y" {% if item.itemStatus == "Y" %}checked="true"{% endif %}/>
					<span style="color:green">Yes</span>
				<input type="radio" name="{{ item.id }}" value="N" {% if item.itemStatus == "N" %}checked="true"{% endif %}/>
					<span style="color:blue">N/A</span>
				</td>
				<td><input type="text" name="{{ item.id }}.itemComment" value= "{{ item.itemComment }}"/></td>
			{% else %}
				{% if item.itemStatus == "U" %}<td><span style="color:red">Unanswered</span></td>{% endif %}
				{% if item.itemStatus == "Y" %}<td><span style="color:green">Yes</span></td>{% endif %}
				{% if item.itemStatus == "N" %}<td><span style="color:blue">Not Applicable</span></td>{% endif %}
				<td>{{ item.itemComment }}</td>
			{% endif %}	
		</tr>
		{% if checklist.status != "S" and checklist.status != "A" %}
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit" value="Save and Validate" style="text-align:center;"/></td>
	</form>
			<td>
				<form action="/checklist/{{checklist.id}}/submit/" method="post">
				{% csrf_token %}
					<input type="submit" value="Validate and Submit for Review" />
				</form>
			</td>
		</tr>
		{% endif %}
		{% empty %}
			<li>No item in this list.</li>
		{% endfor %}
	</table>

	{% if validate_message %}
		{% if is_validated %}<p><span style="color:green;font-weight:bold">{{ validate_message }}</span></p>
		{% else %}<p><span style="color:red;font-weight:bold">{{ validate_message }}</span></p>
		{% endif %}
	{% endif %}

	{% if submit_message %}
		{% if is_submited %}<p><span style="color:green;font-weight:bold">{{ submit_message }}</span></p>
		{% else %}<p><span style="color:red;font-weight:bold">{{ submit_message }}</span></p>
		{% endif %}
	{% endif %}
		
{% else %}
    <p>Can't find checklist.</p>
{% endif %}


{% endblock %}
</body>
</html>

