<!DOCTYPE HTML>
<html>
<body>
{% load url from future %}

{% block content %}


<!--
Must regard user as 'user', NOT 'request.user'. Otherwise it wont recognize user being logged in
Also views should use render() instead of render_to_response() for auto adding request context
-->
{% if user.is_authenticated %}
    <p>Welcome {{ user.username }}, Thanks for logging in!</p>
{% else %}
    <p>Sorry, we dont recognize you as being logged in. Something wrong!</p>
{% endif %}

<a href="/checklist/logout/">Logout</a>

{% if checklists %}
	<div>
    	<h1><span style="color:green;font-weight:bold">Assigned Checklist Table</span></h1>
		<table width="100%" border="0">
			<tr><th>Title</th><th>Assignee</th><th>District</th><th>Date Created</th><th>Status</th></tr>
			{% for checklist in checklists %}
				<tr>
				<td><a href="/checklist/{{ checklist.id }}/">{{ checklist.title }}</a></td>
				<td>{{ checklist.assignee_names }}</td>
				<td>{{ checklist.landDistrict }}</td>
				<td>{{ checklist.create_date }}</td>
				{% if checklist.status == "N" %}<td><span style="color:yellow">New</span></td>{% endif %}
				{% if checklist.status == "I" %}<td><span style="color:blue">Inprogress</span></td>{% endif %}
				{% if checklist.status == "S" %}<td><span style="color:orange">Submited</span></td>{% endif %}
				{% if checklist.status == "A" %}<td><span style="color:green">Approved</span></td>{% endif %}
				{% if checklist.status == "R" %}<td><span style="color:red">Rejected</span></td>{% endif %}
				<tr>
			{% empty %}
				<li>No checklist in this list.</li>
			{% endfor %}
		</table>
	</div>
	
{% else %}
    <p>No checklist is assigned to you.</p>
{% endif %}






{% endblock %}
</body>
</html>

