<!DOCTYPE HTML>
<html>
<body>
{% load url from future %}

{% block content %}


<!--
Must regard user as 'user', NOT 'request.user'. Otherwise it wont recognize user being logged in
Also views should use render() instead of render_to_response() for auto adding request context
-->
{% if user.is_authenticated %}
    <p>Welcome {{ user.username }}, Thanks for logging in!</p>
{% else %}
    <p>Sorry, we dont recognize you as being logged in. Something wrong!</p>
{% endif %}

<a href="/checklist/logout/">Logout</a>

{% if checklists %}
	<div>
    	<h1>New checklists:</h1>
		<ul>
		{% for checklist in checklists %}
		    {% if checklist.status == "N" %}
		    	<li><a href="/checklist/{{ checklist.id }}/">{{ checklist.title }}</a></li>
		    {% endif %}
		{% empty %}
			<li>No checklist in this list.</li>
		{% endfor %}
		</ul>
	</div>
	
	<div>
    	<h1>Checklists in progress:</h1>
		<ul>
		{% for checklist in checklists %}
		    {% if checklist.status == "I" %}
		    	<li>
		    		<a href="/checklist/{{ checklist.id }}/">{{ checklist.title }}</a>
		    		<p>Assignee: {{ checklist.assignee.username }}</p>
		    		<p>LandDistrict: {{ checklist.landDistrict }}</p>
		    		<p>Date Created: {{ checklist.create_date }}</p>
		    		<p>Status: {{ checklist.status }}</p>		    		
		    	</li>
		    {% endif %}
		{% empty %}
			<li>No checklist in this list.</li>
		{% endfor %}
		</ul>
	</div>
	
	<div>
    	<h1>Checklists submitted for review:</h1>
		<ul>
		{% for checklist in checklists %}
		    {% if checklist.status == "S" %}
			    <li><a href="/checklist/{{ checklist.id }}/">{{ checklist.title }}</a></li>
		    {% endif %}
		{% empty %}
			<li>No checklist in this list.</li>
		{% endfor %}
		</ul>
	</div>

	<div>
    	<h1>Checklists approved:</h1>
		<ul>
		{% for checklist in checklists %}
		    {% if checklist.status == "A" %}
			    <li><a href="/checklist/{{ checklist.id }}/">{{ checklist.title }}</a></li>
		    {% endif %}
		{% empty %}
			<li>No checklist in this list.</li>
		{% endfor %}
		</ul>
	</div>

	<div>
    	<h1>Checklists rejected to be resubmit:</h1>
		<ul>
		{% for checklist in checklists %}
		    {% if checklist.status == "R" %}
		    	<li><a href="/checklist/{{ checklist.id }}/">{{ checklist.title }}</a></li>
		    {% endif %}
		{% empty %}
			<li>No checklist in this list.</li>
		{% endfor %}
		</ul>
	</div>
	
{% else %}
    <p>No checklist is assigned to you.</p>
{% endif %}




{% endblock %}
</body>
</html>

